.geshicodeContainer {
	margin:20px;
	margin-top:5px;
	border:1px solid #dddddd;
}

.geshicodeContainerTitle {
	margin-bottom:2px;
	border:0;
	padding:2px;
	position: relative;
}

.geshicodeButtonBox {
	position: absolute;
	right:0px;
}

.geshicodeButton {
	border:1px solid #aaaaaa;
	padding:2px;
}

.geshicodeButton:hover {
	border:1px solid #222222;
}

.geshicodeText {
	border:1px inset;
	background-color:#ffffff;
	overflow:auto;
	padding-left:30px;
}

.geshicodeScroll {
 	height:300px;
	overflow-y: auto;
}

.geshicodeHidden {
	display:none;
}

.geshicodeTextArea {
	border:0;
	width:100%;
	height:300px;
}

.geshicodePrint {
	font: normal normal 1em/1.2em monospace;
	background:none;
}
