// Ogre overlay scripts
POCore/splinepause
{
	zorder 500
	// Stats block
	container BorderPanel(POCore/splinepausePanel)
	{
		metrics_mode relative
		horz_align right
		vert_align top
		left -0.135 
		top 0.01
		width 0.03
		height 0.04
		material POCore/splinepauseMaterial
	}
}
